div#main-container{
	margin:0px auto;
	border: 1px solid #777;
	padding: 1rem;
	max-width: 1450px;	
}
div.shop-container{
	display: flex;
}
div.shop-container > div{
	padding: 1rem;
	flex: 1;
}
div.shop-container div.filter{
	min-width: 250px;
	flex-grow: 0;
	border-right: 1px solid #777;
}
div.filter label.form-check-label{
	cursor: pointer;
}
div.shop-container div.store{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(246px,1fr));
	grid-auto-rows: max-content;
	padding-right: 0px;
}
div.store div.card{
	min-height: 280px;
}
div.store div.card div.inner{
	display: flex;
}
div.store div.card div.inner > div{
	flex: 1;
}
div.store div.card div.inner div.preview{
	max-width: 96px;
}
div.store div.card div.inner div.info{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.store div.card div.inner div.info span{
	margin-bottom: 1rem;
	font-size: 1.5rem;
	align-self: center;
}
/*cart*/
table.cart-list td{
	vertical-align: middle;
}
table.cart-list td:first-child img{
	width: 64px;
}
table.cart-list td input[type="number"]{
	display: inline-block;
	width:80px;
}
table.cart-list td img.delete-action{
	margin-left: 1rem;
	cursor: pointer;
}
table.cart-list td img.delete-action + span{
	visibility: collapse;
}
table.cart-list td img.delete-action:hover + span{
	visibility: visible;
}
table.cart-list tfoot tr th:first-child{
	text-align: right;	
}
/*loading icon*/
div.loading{
	width:180px;
	height: 86px;
	position: relative;
}
div.loading > img{
	position: absolute;
	opacity: 0;
}
div.loading > img[src*="bass1.svg"]{
	opacity: 1;
}
div.loading > img[src*="bass2.svg"]{
	animation: ease infinite wave1 1s;
}
div.loading > img[src*="bass3.svg"]{
	animation: ease infinite wave2 1s;
}
div.loading > img[src*="bass4.svg"]{
	animation: ease infinite wave3 1s;
}

@keyframes wave1{
	from {opacity: 0}
	25%{opacity:1;}
	50%{opacity:0;}
}
@keyframes wave2{
	from {opacity: 0}
	25%{opacity:0;}
	50%{opacity:1;}
	75%{opacity:0;}
}
@keyframes wave3{
	from {opacity: 0}
	50%{opacity:0;}
	75%{opacity: 1}
	to{opacity:0;}
}